@import "../node_modules/bulma/sass/utilities/_all.sass";

.errorCode {
  border-bottom: 1px solid $grey;

  @media (min-width: $tablet) {
    border-bottom: unset !important;
    border-right: 1px solid $grey;
  }
}
