// Setbrand colors
$brand: #0085A9;

/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/fonts/oxygen-v10-latin-regular.woff2') format('woff2'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
      url('/fonts/oxygen-v10-latin-regular.woff') format('woff');
}

// Update Bulma's global variables
$family-sans-serif: 'Oxygen', 'Roboto', 'Ubuntu', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$primary: $brand;
$border: $brand;
$navbar-breakpoint: 0px;
