// Setbrand colors
$brand: #0085A9;

// Update Bulma's global variables
$family-sans-serif: "Oxygen", "Roboto", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary: $brand;
$border: $brand;
