@import "./_variables.scss";

@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/highlight.js/styles/monokai.css";

html {
  overflow-y: auto;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.headroom-wrapper {
  z-index: 1000;

  .headroom {
    width: 100%;
  }
}

// Blog Body Content Styles
// That I couldn't figure out the selector for :(
.content-override {
  // SECTION HEADER LINK ICONS
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      margin-left: -20px;
      padding-right: 4px;
      .svg-link {
        // margin: 0px 4px 0px -20px;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }
    }

    &:hover .svg-link {
      visibility: visible;
    }
  }

  // CODE BLOCK PADDING
  pre {
    padding: 0.75em 0.75em !important;

    @media (min-width: $tablet) {
      padding: $content-pre-padding !important;
    }
  }

  pre code.hljs {
    padding: 0.75em 0.75em !important;

    @media (min-width: $tablet) {
      padding: $content-pre-padding !important;
    }
  }

  // Default table styles
  table {
    @extend .table;
    width: unset !important;
  }

  // Make footnotes longer for clickableness
  sup {
    a.footnote-ref {
      &:before {
        content: "[Note ";
      }
      &:after {
        content: "]";
      }
    }
  }

  // FOOTNOTES
  div.footnotes {
    // Hide <hr /> in top of footnote block
    hr:first-child {
      display: none;
    }

    // Improve click target and display of backref
    a.footnote-backref {
      padding-left: 6px;

      &:before {
        content: "[Back ";
      }
      &:after {
        content: "]";
      }
    }
  }

}


// Bulma style extensions
.is-fullheight {
  height: 100%;
}
