@import "./_variables.scss";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/elements/content.sass";

@import "../node_modules/highlight.js/styles/monokai.css";

html {
  overflow-y: auto;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Blog Body Content Styles
// That I couldn't figure out the selector for :(

.content-override {

  // FOOTNOTES
  div.footnotes {
    // Hide <hr /> in top of footnote block
    hr:first-child {
      display: none;
    }

    // Padding before the backref so it isn't awful on mobile
    a.footnote-backref {
      padding-left: 6px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      margin-left: -20px;
      padding-right: 4px;
      .svg-link {
        // margin: 0px 4px 0px -20px;
        visibility: hidden;

        &:hover {
          visibility: visible;
        }
      }
    }

    &:hover .svg-link {
      visibility: visible;
    }
  }
}
