@import "./_variables.scss";
@import "./node_modules/bulma/sass/utilities/_all.sass";

.profile {
  width: 192px !important;

  @media (min-width: $desktop) {
    width: 256px !important;
  }
}

.profileContainer {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.box {
  &:hover,
  &:focus,
  &:active {
    transition: 100ms linear;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
