@import "../node_modules/bulma/sass/utilities/_all.sass";

.markdown {
  font-size: $size-5;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
}

.markdown h1 {
  font-size: $size-2;
}

.markdown h2 {
  font-size: $size-3;
}

.markdown h3 {
  font-size: $size-4;
}
